@model UI_Gestion.Models.strRecibo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Serie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Serie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Folio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Folio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Regresar", "Index")
            </div>
        }
    </div>
</body>
</html>
